


/* CONTENEDOR DE TODA LA CARD */
.cardProtecto-container_all{
    /* border: solid black 2px; */
    width: 80%;
    height: 400px;
    -webkit-perspective: 800;
    perspective: 800;
    /* background-color: rgb(29, 29, 255); */
    border-radius: 15px;

}


/* Cuando pase el raton sobre la card, afectara al "Contenedor de toda la card" y al  "contenedor de la card de deltante y detras" */
.cardProtecto-container_all:hover .cardProtecto-container-cardFront-cardBegin{
    transform: rotateY(180deg); 
}

        /* Contenedor de la parte de adelante y de atras de la card */
        .cardProtecto-container-cardFront-cardBegin{
            width: 100%;
            height: 100%;
            position: relative; /* Esto sirve para que se posicione correctamente el texto de la parte de delante y la de detras */
            transform-style: preserve-3d; /* Esto hara que al girar la parte de atras quede atras y la parte de delante quede adelante */
            transition: .7s ease; /* Esto hara que la targeta gire como si fuera de verdad */
            
        }
        


                        .cardProtecto-texto_frontt{
                            display: flex;
                            align-items: center;
                            height: 100%;
                            justify-content: center;
                            color: rgb(255, 255, 255);
                            font-size: 3rem;
                            word-break: break-all;
                            font-weight: bold;
                            /* background-color: aqua; */
                                 
                        }



                /* Card Parte de Detras */
                .cardProtecto-Begin{
                    background-color: orange;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    -webkit-backface-visibility: hidden; 
                    backface-visibility: hidden;
                    transform: rotateY(180deg);
                    border-radius: 15px;
                   
                   
                }