
.footer_text{
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    height: 100%;
    width: 100%;
    justify-content: center;
    border-top: solid 5px;
    border-color: orange;
    gap: 1rem;
    padding: 1rem;
}
    @media ( min-width: 0px ) and ( max-width: 900px ){
        .footer_text{
            display: flex;
            flex-direction: column;
        }
    }

.porfolio_link_download{
    color: white;
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
}   

   