

/* CONTENEDOR DE TODA LA CARD */
.ContactameCard-container_all{
    /* border: solid black 2px; */
    width: 80%;
    height: 200px;
    -webkit-perspective: 800;
    perspective: 800;
    /* background-color: rgb(29, 29, 255); */
    border-radius: 15px;

}

    @media ( min-width: 0px ) and ( max-width: 900px ){
        .ContactameCard-container_all{
            width: 110%;
        }
    }


        /* Cuando pase el raton sobre la card, afectara al "Contenedor de toda la card" y al  "contenedor de la card de deltante y detras" */
        /* .ContactameCard-container_all:hover .ContactameCard-container-cardFront-cardBegin{
            transform: rotateY(180deg); 
        } */


        /* Contenedor de la parte de adelante y de atras de la card */
        .ContactameCard-container-cardFront-cardBegin{
            width: 100%;
            height: 100%;
            position: relative; /* Esto sirve para que se posicione correctamente el texto de la parte de delante y la de detras */
            
        }
        

                /* Card Parte de Delante */
                .ContactameCard-Background-Opacity-Front{
                    background-color: black;
                    width: 100%;
                    opacity: 0.7;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    border-radius: 15px;
                }

                .ContactameCard-texto_front{
                    color: #ffffff;
                    /* background-color: aqua; */
                    height: 80%;
                    position: absolute;
                    text-align: center;
                    align-items: center;
                    width: 95%;
                    /* height: 100%; */
                    display: flex;
                    
                    justify-content: center;
                    font-size: 0.5rem;
                    font-weight: bold;  
                    gap: 1rem;       
                }

                    @media ( min-width: 0px ) and ( max-width: 900px ){
                        .ContactameCard-texto_front{
                            display: flex;
                            flex-direction: column;
                            width: 85%;
                        }
                    }

                        



                /* Card Parte de Detras */
                /* .ContactameCard-Begin{
                    background-color: rgb(0, 0, 0);
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    -webkit-backface-visibility: hidden; 
                    backface-visibility: hidden;
                    transform: rotateY(180deg);
                    border-radius: 15px;
                } */