
.Conoceme_container-videoPresentation_textPresentation{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

        .Conoceme_videoPresentation{
            width: 100%;
        }
                    .Conoceme_videoBackground{
                        width: 100%;
                        display: block;
                    }

                    .Conoceme_videoBackground-opacity{
                        background-color: black;
                        width: 100%;
                        opacity: 0.50;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        bottom: 1rem;
                    }



        .Conoceme_textPresentation{
            color: #ffffff;
            position: absolute;
            top: 0;
            text-align: center;
            width: 80%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            row-gap: 1em;
        }