
/* CONTENEDOR DE TODA LA CARD */
.ConocemeCard-container_all{
    width: 80%;
    height: 400px;
    -webkit-perspective: 800;
    perspective: 800;
    border-radius: 15px;
}
    @media ( min-width: 0px ) and ( max-width: 900px ){
        .ConocemeCard-container_all{
            width: 110%;
        }
    }


        /* Cuando pase el raton sobre la card, afectara al "Contenedor de toda la card" y al  "contenedor de la card de deltante y detras" */
        .ConocemeCard-container_all:hover .ConocemeCard-container-cardFront-cardBegin{
            transform: rotateY(180deg); 
        }


        /* Contenedor de la parte de adelante y de atras de la card */
        .ConocemeCard-container-cardFront-cardBegin{
            width: 100%;
            height: 100%;
            position: relative; /* Esto sirve para que se posicione correctamente el texto de la parte de delante y la de detras */
            transform-style: preserve-3d; /* Esto hara que al girar la parte de atras quede atras y la parte de delante quede adelante */
            transition: .7s ease; /* Esto hara que la targeta gire como si fuera de verdad */
        }
        

                /* Card Parte de Delante */
                .ConocemeCard-Background-Opacity-Front{
                    background-color: black;
                    width: 100%;
                    opacity: 0.7;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    border-radius: 15px;
                }


                .ConocemeCard-texto_front{
                    color: #ffffff;
                    position: absolute;
                    text-align: center;
                    align-items: center;
                    width: 95%;
                    height: 65%;
                    display: flex;
                    justify-content: center;
                    font-size: 3rem;
                    font-weight: bold;         
                }
                        @media ( min-width: 0px ) and ( max-width: 900px ){
                            .ConocemeCard-texto_front{
                                width: 90%;
                            }
                        }
                        

                /* Card Parte de Detras */
                .ConocemeCard-Begin{
                    background-color: rgb(0, 0, 0);
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    -webkit-backface-visibility: hidden; 
                    backface-visibility: hidden;
                    transform: rotateY(180deg);
                    border-radius: 15px;
                    padding-top: 3rem;
                }