
 @media ( min-width : 0px ) and ( max-width: 700px ) {
    .Proyectos_container-videoPresentation_textPresentation{
        height: 65vh;
        background-image: url(../../imagenes/imagenes_proyectos/machupichuProyectos.jpeg);
    }
 }

        .Proyectos_container-videoPresentation_textPresentation{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 90%;
        }

        @media ( min-width: 0px) and ( max-width: 900px){
            .Proyectos_container-videoPresentation_textPresentation{
                width: 110%;
            }    
        }


        
                .Proyectos_videoPresentation{
                    width: 100%;
                }
                            .Proyectos_videoBackground{
                                width: 100%;
                                display: block;
                            }
        
                            .Proyectos_videoBackground-opacity{
                                background-color: black;
                                width: 100%;
                                opacity: 0.7;
                                height: 100%;
                                position: absolute;
                                top: 0;
                                bottom: 1rem;
                            }
        
        
        
                .Proyectos_textPresentation{
                    color: #ffffff;
                    font-size: 2rem;
                    position: absolute;
                    top: 0;
                    text-align: center;
                    width: 80%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-self: center;
                    row-gap: 1em;
                }

                        @media ( min-width: 0px) and ( max-width: 900px){
                            .Proyectos_textPresentation{
                                width: 100%;
                            }    
                        }

                .enlace_al_proyecto{
                    /* text-decoration: none; */
                    font-weight: bold;
                    color:#ffffff;
                     
                }

                

                .enlace_al_p:hover{
                    text-indent: 100px;
                    color: aqua;
                }

                    @media ( min-width: 0px) and ( max-width: 900px){
                        .enlace_al_proyecto{
                            text-decoration:underline;
                            font-size: xx-small;
                        }    
                    }


.estilo_lineaAbajo{
    text-decoration: underline;
}                    